main {
    padding: 10px;
    margin-right: 7%;
    margin-left: 7%;
}

nav {
    background-color: #034270;
}

#nav-text {
    margin-right: 7%;
    margin-left: 7%;
}

footer {
    background-color: #034270;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #1689E5;
}

img {
    padding: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.box {
    border: 1px solid #eeeeee;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 15px;
    flex: 2;
    margin: 5px;
    /* display: inline-block; */
}

#files {
    display: flex;
}

#about-content {
    display: inline-flex;
}

#about-header {
    padding-bottom: 10px;
}

.about-text {
    padding-bottom: 20px;
}